<div>
  <h2 id="page-heading" data-cy="ResponsiblePersonHeading">
    <span>Responsible People</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-responsible-person"
        [routerLink]="['/responsible-person/new']"
      >
        <fa-icon icon="plus" />
        <span>Create a new Responsible Person</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (responsiblePeople().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Responsible People found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="position">
              <div class="d-flex">
                <span>Position</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="contactNo">
              <div class="d-flex">
                <span>Contact No</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (responsiblePerson of responsiblePeople(); track trackId(responsiblePerson)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/responsible-person', responsiblePerson.id, 'view']">{{ responsiblePerson.id }}</a>
              </td>
              <td>{{ responsiblePerson.name }}</td>
              <td>{{ responsiblePerson.position }}</td>
              <td>{{ responsiblePerson.email }}</td>
              <td>{{ responsiblePerson.contactNo }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/responsible-person', responsiblePerson.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/responsible-person', responsiblePerson.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(responsiblePerson)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
